
.bold{
    font-weight: 700;
}

.text-800{
    font-weight: 800;
}

.text-10{
    font-size:0.625rem;
}

.text-12{
    font-size:0.75rem;
}

.text-14-4{
    font-size:0.9rem;
}

.text-12{
    font-size: 0.75rem;
}

.text-16{
    font-size: 1rem;
}

.text-21{
    font-size: 1.313rem;
}
